---
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <body class="container">
    <main class="content">
      {% include header.html %}

      <section>
        {{ content }}
      </section>

      {% include footer.html %}
    </main>

    {% if site.google_adsense %}
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    {% endif %}

    {% if site.google_analytics %}
      {% include google_analytics.html %}
    {% endif %}
  </body>
</html>
